@import "/path/to/reset-css/reset.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Axiforma";
  src: url("../font/Axiforma-Regular.ttf");
}

.neuro{
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
box-shadow:  28px 8px 68px #848484,
             -28px -28px 68px #fef7f7;
}